body {
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #314584;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 73px;
  margin: 0;
}

h2 {
  font-size: 48px;
  line-height: 60px;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 1170px;
	margin: 0px auto;
}

.header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.header__logo {
  height: 100px;
  display: flex;
  position: absolute;
  align-items: center;
  left: 50px;
  margin: 0 30px 0 0;
}

@media (max-width: 1470px) {
  .header__logo {
    position: static;
  }
}

.header__right {
  display: flex;
}

.header__button {
  box-sizing: border-box;
  width: 200px;
  height: 60px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 7px 10px 1px #dadada;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff3946;
  cursor: pointer;
}

.header__button:hover {
  border: 1px solid #ff3946;
}

.header__select {
  outline: none;
  margin: 0 15px 0 0;
  border: none;
  font-weight: 600;
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  color: #314584;
  cursor: pointer;
}

.navbar {
  height: 100px;
}

.navbar__wrap {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.hamb {
  display: none;
}

.popup {
  display: none;
}

.menu__link {
  text-decoration: none;
  color: #314584;
  line-height: 21px;
}

.menu__link:hover {
  color: #ff3946;
}

.menu {
  display: flex;
  padding: 0;
  align-items: center;
}

.menu__item {
  list-style: none;
  margin: 0 20px 0 0;
}

@media (max-width: 960px) {
  .menu {
    display: none;
  }

  .navbar{
    width: 100%;
  }

  .header__button {
    display: none;
  }

  .hamb {
    display: flex;
    align-items: center;
  }

  .hamb__field {
    padding: 10px 20px;
    cursor: pointer;
  }

  .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background-color: red;
    transition: 0.2s;
  }

  .popup {
    position: fixed;
    top: 100px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    display: flex;
    transition: 0.3s;
  }

  .popup.open {
    left: 0;
  }

  .popup .menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 50px 0;
    overflow: auto;
  }

  .popup .menu > li {
    width: 100%;
  }

  .popup .menu > li > a {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
    color: #3f3f3f;
  }

  .popup .menu > li > a:hover {
    background-color: rgba(122, 82, 179, 0.1);
  }

  .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamb__field.active .bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }

  .hamb__field.active .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }

  body.noscroll {
    overflow: hidden;
  }
}

.spirit__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  margin: 200px auto;
}

.spirit__textBlock {
  display: flex;
  flex-direction: column;
}

.spirit__text p {
  color: #6e757a;
  font-weight: 400;
  line-height: 30px;
  margin: 45px 0;
}

.spirit__buttons {
  display: flex;
  align-items: center;
}

.button {
  width: 200px;
  height: 60px;
  background-color: #ff3946;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.getInTouch {
  text-decoration: none;
  color: #314584;
  margin: 0 0 0 38px;
}

.getInTouch:hover {
  color: #ff3946;
}

.spirit__img {
  margin: 0 -110px 0 10%;
  width: 50%;
}

.emptyBloks__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 15px;
  margin: 0 auto 300px;
}

.emptyBlocks__blocks {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.emptyBlock {
  width: 371px;
  height: 280px;
  background-color: #c3d0d8;
  margin: 9px;
}

.emptyBlocks__seeMore {
  display: flex;
  justify-content: center;
}

.emptyBlocks__seeMore a{
  text-decoration: none;
  margin: 50px 0 0;
  color: #ff3946;
}

.contact__container {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.contact__text {
  color: #ff3946;
}

.contact__title h2 {
  margin: 30px 0;
}

.contact__form {
  display: flex;
  flex-direction: column;
}

.form__inputs {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.form__inputs input {
  width: 48%;
  height: 60px;
  margin: 0 0 30px 0;
  padding: 10px;
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  border: none;
  background-color: #f4fafe;
  box-sizing: border-box;
}

.form__inputs input::placeholder {
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #314584;
}

.contact__form textarea::placeholder {
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #314584;
}

.contact__form textarea {
  margin: 0 0 65px 0;
  padding: 10px;
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  border: none;
  background-color: #f4fafe;
  box-sizing: border-box;
}

.contact__form .button {
  margin: 0 auto 60px;
}

@media (max-width: 768px) {
  .spirit__img {
    display: none;
  }

  .form__inputs {
    display: block;
  }

  .form__inputs input {
    width: 100%;
  }
}

.footer {
  width: 100%;
  background-color: #314584;
}

.footer__container {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.footer__text {
  margin: 70px 0 0 0;
}

.footer__title h2 {
  color: #ff3946;
  margin: 27px 0 40px 0;
}

.footer__menu {
  display: flex;
  align-items: center;
  margin: 0 0 40px 0;
  padding: 0;
}

.footer__menu .menu__item .menu__link{
  color: #fff;
}

.footer__menu .menu__item:last-child{
  margin: 0;
}

.footer__copyright {
  margin: 0 0 35px 0;
}

.fa {
  margin: 0 80px;
}

@media (max-width: 580px) {
  .footer__text {
    display: none;
  }

  .footer__menu {
    display: none;
  }

  .footer__title{
  display: none;
  }

  .footer__copyright {
    margin: 35px 0;
  }

  .fa {
    margin: 0px 30px 30px;
  }
  
  .footer__container {
    height: 100%;
  }
}